<div class="layout-carousel">
    <div class="carousel-title">
        <h1 class="title-brand"><span>e</span>Magazine</h1>
    </div>
    <div class="content-carousel">
        <div class="carousel-container">
            <div class="track">
                <div class="card-container">
                    <div class="card-img">
                        <img src="${img1}"
                            alt="1">
                    </div>
                    <div class="card-text">
                        <p>${text1}</p>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card-img">
                        <img src="${img2}"
                            alt="2">
                    </div>
                    <div class="card-text">
                        <p>${text2}</p>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card-img">
                        <img src="${img3}"
                            alt="3">
                    </div>
                    <div class="card-text">
                        <p>${text3}</p>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card-img">
                        <img src="${img4}"
                            alt="4">
                    </div>
                    <div class="card-text">
                        <p>${text4}</p>
                    </div>
                </div>
            <div class="controls">
                <span class="arrow left">&lt;</span>
                <span class="arrow right">&rarr;</span>
                <ul>
                </ul>
            </div>
        </div>
    </div>
</div>