<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./dist/style1.css">
</head>
<body>
    <div class="container">
        <div class="carousel">
            <div class="slider">
                <section>content 1</section>
                <section>content 2</section>
                <section>content 3</section>
                <section>content 4</section>
            </div>
            <div class="controls">
                <span class="arrow left">&lt;</span>
                <span class="arrow right">&gt;</span>
                <ul>
                    <li class="selected"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="./src/js/main1.js"></script>
</body>
</html>