<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./dist/style3.css">
</head>

<body>
    <div class="carousel-container">
        <div class="track">
            <div class="card-container">
                <div class="card">
                    1
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    2
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    3
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    4
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    5
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    6
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    7
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    8
                </div>
            </div>
        </div>
        <div class="controls">
            <span class="arrow left">&lt;</span>
            <span class="arrow right">&gt;</span>
            <ul>
                
            </ul>
        </div>
    </div>
    <script src="./src/js/main3.js"></script>
</body>

</html>